*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upperbar{
    background-color: #A03C6B;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: #A03C6B 0px 2px 14px 0px;
}

.navbar{
    background-color:#FFF3F5;
    height: 80px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 30px;
    box-shadow: #A03C6B 0px 2px 14px 0px;
}

.logo{
    height: 80px;
    margin-left: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: #C15A87;
    border-radius: 5px;
    
}

.search-bar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 12px;
    border-radius: 50px;
}
.search-bar input{
    height: 35px;
    width: 400px;
    border: none;
    border-radius: 8px;
    border: 2px solid #C15A87;
    font-size: 15px;
    font-style: italic;

}

.search-bar button{
    height: 35px;
    width: 35px;
    background-color: white;
    border: none;
    border: 2px solid #C15A87;
    border-radius: 8px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 160px;
  justify-content: space-between;
  margin-right: 10px;
}
.icons i{
    font-size: 30px;
    color: #A03C6B;
}

.header-image{
    width: 100%;
    height: auto;
    box-shadow: #A03C6B 5px 3px 15px 2px;
    
}

.sale-text-1{
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #FFF3F5;
    height: 140px;
    flex-direction: column;
    display: flex;
    }


.heading-1{
    font-family: 'PLayfair Display', serif;
    font-size: 28px;
    color: #A03C6B;
    margin-bottom: 15px
    ;
}

.subheading-1{
    font-family: 'Lora', serif;
    font-size: 22px;
    color: #C15A87;
}

.second-page{
    background-color: #FFF3F5;
    width: 100%;
    height: 600px;
    /* border-top:  5px solid #A03C6B; */
    display: flex;
}

.image-row{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 25px;
    fkex-wrap: wrap;
}

.side-box-1{
    height: 480px;
    width: 100%;
    background-color: #A03C6B;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    display: flex;
}

.img1{
    object-fit: contain;
    display: flex;

}

/* .img1:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
} */


.img2{
    display: flex;
    object-fit: contain;
}

/* .img2:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
} */


.img3{
    display: flex; 
    object-fit: contain;  
}

/* .img3:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
} */

.img4{
    display: flex;  
    object-fit: contain;  
}

/* .img4:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
} */

#i1{
    height: 500px;
    width: 340px;
    margin: 10px;
    display: flex;
    box-shadow: #A03C6B 5px 5px 15px 2px;
} 

#i2{
    height: 500px;
    width: 340px;
    margin: 10px;
    display: flex;
    box-shadow: #A03C6B 5px 5px 15px 2px;
}

#i3{
    height: 500px;
    width: 340px;
    margin: 10px;
    display: flex;
    box-shadow: #A03C6B 5px 5px 15px 2px;
}

#i4{
    height: 500px;
    width: 340px;
    margin: 10px;
    display: flex;
    box-shadow: #A03C6B 5px 5px 15px 2px;
}

.side-box-2{
    height: 480px;
    width: 100%;
    background-color: #A03C6B;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    display: flex;
}

.third-page{
    width: 100%;
    height: 110vh;
    background-color:#FFF3F5;
}

.sale-text-2{
    height: 140px;
    width: 100%;
    background-color: #A03C6B;   
}

.heading-2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-style: italic;
}

.fourth-page{
    width: 100%;
    height: 90vh;
    background-color: #FFF3F5; 
}

.info-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 80px;
  text-align: center;
  padding: 60px 20px;
  background-color: white;

}

.info-box {
  max-width: 250px;
}

.info-box img {
  width: 60px;
  margin-bottom: 15px;
  margin-left: 15px;
  
}

.info-box h3 {
  font-size: 16px;
  color: #3a3330;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.info-box p {
  color: #5a524e;
  font-size: 15px;
  line-height: 1.6;
}

.cat{
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #fcfaf8;
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 60px;
  width: 1000%;
  border-top: 1px solid #f2dcd9;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2dcd9;
  padding-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  line-height: 1.8;
  font-size: 15px;
}

.connect p {
  margin: 8px 0;
  font-size: 15px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 25px;
  margin-right: 12px;
  border: 1px solid #e6cfcf;
  border-radius: 50%;
  padding: 5px;
}





