

/* path = css/inside.front.css */

#inside_holder {
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in iOS landscape */
	position: fixed;
	opacity: 1;
	overflow: visible !important;
	z-index: var(--inside-popup-z-index, 200000);
	width: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	height: 0px !important;
	/*background-image: url("/images/inside_bg.png?v=2");*/
	font-family: "Nunito Sans", Helvetica, 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	direction: ltr;
}

/* position chat tab from the bottom to fix issue when scrolling on mobile devices (bug #28126) */
body:not(.inside-chatv2-open) #inside_holder:not(.liveShowOpen) {
  position: static !important;
}
body:not(.inside-chatv2-open) #inside_holder > *:not(#inside_tabs) {
  position: fixed !important;
	z-index: var(--inside-popup-z-index, 200000);
}
body:not(.inside-chatv2-open) #inside_holder #inside_tabs {
  top: auto !important;
}

#inside_holder #inside_liveChatTab {
	outline: none !important;
	display: none;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: transform 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
}

#inside_holder #inside_liveChatTab img,
#inside_holder #inside_liveChatTab svg {
  display: block;
}

#inside_holder.mobile-device #inside_liveChatTab {
	outline: none;
}

#inside_holder iframe.notransition {
	transition: none !important;
}

#inside_holder iframe.notificationMode {
	outline: none !important;
	overflow: hidden;
	min-height: 150px !important;
	display: block !important;
	position: fixed !important;
	right: calc(var(--inside-pane-right, auto) + var(--inside-notif-offset-right, 0px));
	left: calc(var(--inside-pane-left, auto) + var(--inside-notif-offset-left, 0px));
	top: calc(var(--inside-pane-top, 0px) - var(--inside-notif-offset-bottom, 0px));
	z-index: var(--inside-notif-z-index, 200000);
}

#inside_holder iframe.notificationMode[position^="top"] {
	top: calc(var(--inside-pane-top, 0px) + var(--inside-notif-offset-top, 0px));
}

#inside_holder:not(.dynamicNotification) iframe.notificationMode {
	transform: translateY(0%) !important;
}

#inside_holder.dynamicNotification iframe.notificationMode {
	transform: translate(0%);
	transition: all 0.2s ease 0s;
	min-height: 0 !important;
}

#inside_holder.dynamicNotification iframe.notificationMode[notif-offscreen] {
	opacity: 0 !important;
}

#inside_holder.dynamicNotification iframe.notificationMode[notif-offscreen="right"] {
	transform: translateX(200%);
}

#inside_holder.dynamicNotification iframe.notificationMode[notif-offscreen="left"] {
	transform: translateX(-200%);
}

#inside_holder.dynamicNotification iframe.notificationMode[notif-offscreen="top"] {
	transform: translateY(-200%);
}

#inside_holder.dynamicNotification iframe.notificationMode[notif-offscreen="bottom"] {
	transform: translateY(200%);
}

.dynamicNotification.mobile-device #insideChatFrame {
	max-width: calc(100vw - 100px);
}

#inside_holder.mobile-device.iOSMobile.iOSSafari.mobileChatOpen {
	position: absolute;
}

#inside_holder input {
	position: initial;
}

#inside_holder.iOS10 {
	width: 100vw;
}

#inside_holder.mobile-device {
	opacity: 1;
	height: 0px;
}

#inside_holder label {
	width: auto;
	min-width: auto;
}

#inside_holder input {
	opacity: initial;
}

#inside_holder input[type='checkbox'] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}
#inside_holder input[type='radio'] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
}

.inside_survey_answertype_nps td {
	padding: 0px;
	text-align: center;
	border: none;
}

#inside_holder .inside_visitorNotify.survey select {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	max-width: 100%;
}

#inside_tabs {
	display: none;
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
	width: 0px;
	bottom: var(--inside-tab-bottom, 0px);
	right: calc(var(--inside-tab-right, auto) + var(--inside-tab-offset-right, 0px));
	left: calc(var(--inside-tab-left, auto) + var(--inside-tab-offset-left, 0px));
	margin-bottom: calc(var(--inside-tab-marginBottom, 0px) + var(--inside-tab-offset-bottom, 0px));
	z-index: var(--inside-tab-z-index, 200000);
}

.positioOverrides #inside_tabs, .positioOverrides .inside_visitorNotify  {
	transition: all 266ms ease-in-out !important;
}

#inside_tabs[position^="top"] {
	margin-bottom: calc(var(--inside-tab-marginBottom, 0px) - var(--inside-tab-offset-top, 0px));
}

#inside_holder.loading.tabClicked #inside_tabs {
	display: none !important;
}


#inside_holder .insideDropShadow {
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.2));
}

/*
#inside_tabs img {
	pointer-events:none;
}
*/

#inside_holder #inside_tabs img {
	max-width: none;
	vertical-align: top;
}

#inside_holder div {
	float: none;
}

#inside_holder .inside_chatDisclaimer img {
	max-width: 100% !important;
	height: auto !important;
}

.inside_visitorNotify {
	position: absolute;
	/*width: 350px;*/
	background: transparent;
	text-align: center;
	color: black;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	left: 50%;
	min-height: 40px;
	min-width: 100px;
	/*max-width: 50%;*/
	max-width: calc(100% - 20px);
	overflow-y: auto;
	overflow-x: hidden;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-shadow: 1px 1px 15px 0px #999999;
	-moz-box-shadow: 1px 1px 15px 0px #999999; 
	-webkit-box-shadow: 1px 1px 15px 0px #999999; 
	
	right: calc(var(--inside-popup-right, auto) + var(--inside-popup-offset-right, 0px));
	left: calc(var(--inside-popup-left, auto) + var(--inside-popup-offset-left, 0px));
	top: calc(var(--inside-popup-top, auto));
	transition: all 500ms;
}

.inside_visitorNotify.notransition {
	transition: none;
}

#inside_holder.mobile-device .inside_visitorNotify.survey {
	left: calc(var(--inside-popup-left, auto) + var(--inside-popup-offset-left, 0px));
}

.inside_visitorNotify[position="1"],
.inside_visitorNotify[position="2"],
.inside_visitorNotify[position="3"] {
	top: calc(var(--inside-popup-top, auto) + var(--inside-popup-offset-top, 0px));
}

.inside_visitorNotify[position="7"],
.inside_visitorNotify[position="8"],
.inside_visitorNotify[position="9"] {
	top: calc(var(--inside-popup-top, auto) - var(--inside-popup-offset-bottom, 0px));
}

#inside_holder .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Smartphones  */
@media only screen 
and (max-width : 400px) {

	.inside_visitorNotify {
		max-width: calc(100% - 20px);
	}

	.inside_clicktocall_request {
		width: 100vw !important;
		height:100vh !important;
		top: 0px !important;
		left: 0px !important;
	}
}

#inside_holder .inside_visitorNotify .insideSubmitButton.cancel, #inside_holder .insideSubmitButton.cancel {
	background: #999999;
}

.inside_visitorNotify.survey .inside_closeButton {
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	color: #333333;
	font-size: 30px;
}

.inside_closeButton {
	/*
	background-image: url('/images/front_close_grey.png?v=2');
	*/
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background-position: center;
	cursor: pointer;
	z-index: 100;
	font-size: 30px;
	letter-spacing: 1px;
}

.inside_closeButton.white {
	/*background-image: url('/images/front_close_white.png?v=2')*/
	color: white;
}

.inside_closeButton.uni {
	background-image: url('/images/front_close_cross.png?v=2');
	color: transparent !important;
	width: 31px;
}

html.inside-chatv2-open.inside-mobile-device, html.inside-chatv2-open.inside-mobile-device body {
	scroll-behavior: initial !important;
}

/********** Start - Join the Call ************/
#inside_joinTheCallChatTab {
    position: relative;
    /*width: 181px; 
    height: 115px;
    */
    right: 24px;
}

#inside_clickToCallChatTab {
	cursor: pointer;
	position: relative;
	right: 0px;
}

#inside_joinTheCallPasscode {
    font-family: 'Nunito Sans', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    color: #008bd0;
    position: absolute;
    top: 72%;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inside_joinTheCallIcon.icon-join-call, #inside_printIcon.icon-hprint, #inside_emailIcon.icon-hemail {    
    font-size: 32px;
    height: 32px;
    line-height: 32px !important;
    margin-top: 10px;
    text-align: center;
    width: 32px;
    position: absolute;   
}

#inside_emailIcon.icon-hemail {
    right: 65px;
}

#inside_printIcon.icon-hprint {
    right: 95px;
}

#inside_joinTheCallIcon.icon-join-call {
    right: 125px;
}

.inside_chatPane.offline #inside_joinTheCallIcon.icon-join-call {
}
/********** End - Join the Call ************/
/********** Start - Click to Call ************/
.inside_clicktocall_request {
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    top: 0px;
    z-index: 1000;
}

.inside_clicktocall_connecting {
	padding-top: 70px;
}

.inside_clicktocall_header {
  background-color: #02385a;
  width: 100%;
  height: 50px;
}

.inside_clicktocall_header table {
  width: 100%;
}

.inside_clicktocall_header_icons {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 27px;
    height: 32px;
    padding: 0px;
    text-align: center;
    width: 32px;
}

.inside_clicktocall_body {
  padding: 25px;
  color: #808080;
}

.inside_clicktocall_txt1 {
  font: 18px Arial, sans-serif;
}

.inside_clicktocall_txt2 {
  font: 14px Arial, sans-serif;
}

.inside_clicktocall_txt3 {
  font: 16px Arial, sans-serif;
}

.inside_clicktocall_name {
  font: 16px Arial, sans-serif;
  color: #808080;
  width: 95%;
}

.inside_clicktocall_name td {
  font: 14px Arial, sans-serif;
}

.inside_clicktocall_name input {
  font: 16px Arial, sans-serif;
  color: #808080;
  height: 30px;
  width: 95%;
  padding-left: 4px;
}

.inside_clicktocall_phone {
  font: 16px Arial, sans-serif;
  color: #808080;
  width: 95%;
}

.inside_clicktocall_phone td {
  font: 14px Arial, sans-serif;
}

.inside_clicktocall_phone input {
  font: 16px Arial, sans-serif;
  color: #808080;
  height: 30px;
  width: 98%;
  padding-left: 4px;
}

.inside_clicktocall_phone_num_lbl {
  width: 75%;
}

.inside_clicktocall_phone_ext_lbl {
  width: 25%;
  padding-left: 7px;
}

.inside_clicktocall_phone_ext {
  width: 25%;
  padding-left: 7px;
}

.inside_clicktocall_phone_code input {
  width: 50px;
}

#inside_clicktocall_button_holder {
	text-align: center;
}
.inside_clicktocall_btn {
	border: 1px solid #FFD700;
	border-radius: 2px;
	background-color: #FFA500;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	max-width: 100%;
	padding: 12px 30px 12px 30px;
}


.inside_clicktocall_form_error {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    color: #FF0000;
    font-size: 14px;
}

/********** End - Click to Call ************/

/********** Start - Cobrowse ************/
#inside_cobrowse {
	left: 0;
  top: 0;
  width: 100%;
  height: 0;
}

.inside-cobrowse-active {
    scroll-behavior: initial !important;
}

.inside_cobrowseRequest {
    text-align: center;
    padding: 5px;
}

.inside_cobrowseAcceptBtn {
    background-color: #008bd0;
    border: none;
    color: white;
    padding: 7px 25px;
    margin: 10px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.inside_cobrowseRejectBtn {
    background-color: #767677;
    border: none;
    color: white;
    padding: 7px 12px;
    margin: 10px 0px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#inside_cobrowse_active {
    position: absolute;
    border: 4px solid #008bd0;
    background: #008bd0;
    z-index: 100000;
    width: auto;
    opacity: .9;
    box-shadow: 2px 2px #888888;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
}

#inside_cobrowse_outline {
    position: absolute;
    border: 3px solid #008bd0;
    pointer-events: none;
    z-index: 100000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inside_cobrowse_active {
	left: calc(50% - (var(--width) / 2));
	max-width: 90vw;
	display: flex;
	align-items: center;
}

#inside_cobrowse_active .cbactivetext {
		flex-shrink: 0;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    cursor: pointer;
    vertical-align: middle;
}

#inside_cobrowse_active .cbclosebutton {
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	color: #008bd0;
	background: none repeat scroll 0 0 white;
	border-radius: 4px;
	font-size: 12px;
	padding: 3px 5px;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
}
/********** End - Cobrowse ************/
#inside_chat_input_cell {
    background: white;
}

#inside_chatSendButton {
    border-radius: 5px;
}

#emailWarning {
    color: #FF0E3E;
}

    #emailWarning img {
        padding-top: 5px;
        width: 16px;
    }

    #emailWarning span {
        float: right;
        padding-left: 8px;
        padding-top: 3px;
        text-align: left;
        width: calc(100% - 30px);
    }

body.inside-lock-position {
	overflow: hidden;
}


/* updated icons container 3-05-2018*/
#inside_holder .chatHeaderIcons {
	vertical-align: middle;
	position: absolute;
	right: 5px;
	top: 0px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
}

#inside_holder #inside_liveChatTab .chatHeaderIcons {
	height: 100%;
}

#inside_holder .chatHeaderIcons.chatV2,
#inside_holder #inside_tabs .tab .chatHeaderIcons.chatV2
{
	position: absolute;
	right: 0px;
	top: 0px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 9px 18px 0 rgba(82, 97, 115, 0.18);
	border: solid 1.1px #f0f0f0;
	transform: translate(0%, -50%);
	width: 26px;
	height: 26px !important;
	display: none;
	padding-left: 0px;
}

#inside_holder #inside_tabs.leftTabPosition .chatHeaderIcons.chatV2 {
	right: auto;
	left: 0px;
}

#inside_holder #inside_liveChatTab:hover .chatHeaderIcons.chatV2,
#inside_holder #inside_tabs .tab:hover .chatHeaderIcons.chatV2

{
	display: block;
}

#inside_holder:not([device="1"]) #inside_liveChatTab .chatHeaderIcons.chatV2 {
	display: block;
}

#inside_holder .chatHeaderIcons.chatV2 div {
	display: flex;
	min-width: 26px;
	min-height: 26px;
	padding-left: 0px;
	width: 26px;
	height: 26px;
	margin:-1px;
}


#inside_holder .chatHeaderIcons.chatV2 svg {
	/*margin-bottom: 9px;*/
	width: 10px;
}


#inside_holder .chatHeaderIcons .inside_icon_image_holder:empty {
	display: none;
}

#inside_holder .chatHeaderIcons .inside_icon_image_holder img {
	position: static;
}

/* holds custom img tags */
#inside_holder .chatHeaderIcons .inside_icon_image_holder, .inside_chatPane .inside_icon_image_holder {
	cursor: pointer;
	min-width: 32px;
	min-height: 32px;
	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inside_icon_image_holder.inside_icon_online {
	display: inline-block;
	margin: 5px;
	float: right;
}

#inside_chatPane_custom_chatHeader > #chatHeaderIcons_visitor {
	float: right;
	padding: 5px 10px 0 0;
}

#inside_holder .chatHeaderIcons span, #inside_holder .chatHeaderIcons div {
	cursor: pointer;
}

#inside_holder .chatHeaderIcons div, #inside_holder .chatHeaderIcons span {
	font-size: 32px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px !important;
}

#inside_holder .chatHeaderIcons #inside_emailIcon, #inside_holder .chatHeaderIcons #inside_printIcon, #inside_holder .chatHeaderIcons .inside_minimise {
	margin: 0;
}

#inside_holder .chatHeaderIcons > img, #inside_holder .chatHeaderIcons > div, #inside_holder .chatHeaderIcons > span {
	display: inline-block;
	position: static;
	top: unset;
	left: unset;
	right: unset;
	min-height: unset;
	min-width: unset;
	max-width: 40px;
	max-height: 40px;
	margin: 0;
	box-sizing: content-box;
}

#inside_holder .chatHeaderIcons svg {
	pointer-events: none;
}

#inside_holder .chatHeaderIcons .inside_closeCross {
	margin-right: 5px;
}

/* desktop icon spacing */
#inside_holder .chatHeaderIcons img + img, #inside_holder .chatHeaderIcons img + div, #inside_holder .chatHeaderIcons div + div, #inside_holder .chatHeaderIcons div + img, #inside_holder .chatHeaderIcons span + img, #inside_holder .chatHeaderIcons span + div {
	margin-left: 0px;
}

/* mobile icon spacing */
#inside_holder[device='2'] .chatHeaderIcons img + img, #inside_holder[device='2'] .chatHeaderIcons img + div, #inside_holder[device='2'] .chatHeaderIcons div + div, #inside_holder[device='2'] .chatHeaderIcons div + img {
	margin-left: 5px;
}

/* tablet icon spacing */
#inside_holder[device='3'] .chatHeaderIcons img + img, #inside_holder[device='3'] .chatHeaderIcons img + div, #inside_holder[device='3'] .chatHeaderIcons div + div, #inside_holder[device='3'] .chatHeaderIcons div + img, #inside_holder[device='3'] .chatHeaderIcons #inside_emailIcon {
	margin-left: 10px;
}

#inside_holder[device='3'] #inside_chatPaneHeader .chatHeaderIcons div, #inside_holder[device='3'] #inside_chatPaneHeader .chatHeaderIcons span {
	font-size: 40px !important;
	width: 40px;
}

#inside_holder[device='3'] .chatHeaderIcons .inside_closeCross {
	margin-right: 15px;
}

#inside_holder .chatHeaderIcons img {
	vertical-align: middle;
}

#inside_holder #themeVideosTab {
	width: 100px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.5s;
}

#inside_holder #themeVideosTab img {
	border-radius: 20px;
	max-width: 100px;
}

#inside_holder.chatThemeVideoView:not(.mobile-device) #insideChatFrame {
	width: calc(var(--inside-video-height) * (9/16))!important
}